	<div class="pad margin no-print" style="margin:0px;padding: 0px;">
      <div class="callout bg-purple color-palette " style="margin-bottom: 0!important;border-left: 5px solid #555299;">
        <h4><i class="fa fa-info"></i> Note:</h4>
        Adding users can enable the user to gain all rights except for adding users.
      </div>
    </div>

    <hr>

    <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">添加管理员</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal">
              <div class="box-body">
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-1 control-label">UserName</label>
                  <div class="col-sm-8">
                    <input type="username" class="form-control" id="username" placeholder="username">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-1 control-label">Password</label>
                  <div class="col-sm-8">
                    <input type="password" class="form-control" id="password" placeholder="password">
                  </div>
                </div>
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <button type="button" class="btn btn-info pull-right" id="register">register</button>
              </div>
              <!-- /.box-footer -->
            </form>
          </div>

          <script src="../static/js/admin.js"></script>