<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="	sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<style type="text/css">
		.italic {
			font-style:oblique;
		}
		.padding20{
			padding-left: 40px; 
		}
		.div_1{
			margin-top:10px;
			border: 1px solid #999;
			width: 14%;
			border-radius: 15px;
			display: inline-block;
			background-color:transparent;
		}
		.select_1{
			border:none;
			color: #999;
			margin: 5px;
			outline: none;
			width: 20%;
			border-right: 1px solid #999;
			background-color: rgba(0,0,0,0);
		}
		.input_1{
			border:none;
			color: #999;
			outline: none;
			background-color: rgba(0,0,0,0);
		}

		.paddingright20{
			padding-right: 10%;
		}

		.center{
			margin: 0 auto;
			text-align: center;
		}
		.gray{
			margin: 10px;
			color: gray;
		}
		.movecenter{
			position: absolute;
			top: 10%;
		}
		.blue{
			outline: none;
		}
		.goodview a{
			color: #999;
			text-decoration: none;
			padding-left: 10%;
			padding-bottom: 5%;
		}
		.friend{
			text-decoration: none;
			font-size: 15px;
		}
		.movedown{
			margin-top: 10px;
		}
		.br1{
			border-right: 1px solid #eee;
		}
		.copy{
			background-color: #353f4b;
			color: white
		}
		.copy a {
			text-decoration: none;
		}




		.bk{
			background-color: rgba(12, 11, 11, 0.53);
			border:1px solid black;
			color: white;
			box-shadow: 10px 10px 10px black;
		}
		.nob{
			border: 0px;
		}
		#start span:hover{
			cursor: pointer;
		}
	</style>
	<style type="text/css">
		.pointer{
			cursor: pointer;
		}
		.tb:hover{
			text-decoration: none;
		}
		.m0{
			margin-top: 0px;
		}
		.red{
			color: red
		}
		.yellow{
			color:yellow
		}
		.pointer{
			cursor: pointer;
		}

		.pl0{
			padding-left: 0px;
		}

		.eee{
			color: gray;
		}

		.talk{}

		.tb{

		}
		.black{
			color: black;
		}
		.mr10{
			margin-right: 20%;
		}
		.green{
			color: #4caf50;
		}
		.red{
			color: #f44336;
		}

		.menu:hover.menu:visited,.menu:link{
			color: gray;
		}
	</style>
</head>
<body>
	 <div class="container"> 
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<!-- 100%宽度的响应式布局 -->
			<div class="container-fluid">
				<!-- 商标 -->
				<a href="/" class="navbar-brand italic" style="margin-left:200px;">Movie's Entral</a>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav " >
						<li class="padding20" ><a href="/">首页</a></li>
						<li class="padding20"><a href="/tomovielirbary">电影库</a></li>
						<li class="padding20 active"><a href="/filmreview">影评</a></li>
						<!--  style="margin-right: 500px;" -->
						<li class="padding20"><a href="/news">资讯</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right paddingright20" id="mytabs">
						{{if .user}}
                            <li class="padding20"><a href="/user/toperson" >{{.user.Name}}个人中心</a></li>
                            <li class="padding20"><a href="#" id = "loginout" >登出</a></li>
						{{else}}
                            <li class="padding20"><a href="" data-toggle="modal" data-target="#myModal">登录</a></li>
                            <li class="padding20"><a href="/account/toregister">注册</a></li>
						{{end}}
					</ul>

					<!-- <div class="div_1 ">
						<select class="select_1">
							<option>全部</option>
							<option>2</option>
							<option>3</option>
						</select>
						<input type="text" name="" class="input_1">
						<span class="glyphicon glyphicon-search"></span>
					</div>  -->
				</div>
			</div>
		</nav>
		</div>
	<br>
	<br>
	<br>
	<div class="container">
		<blockquote class="col-sm-12 ">
					<p>Movie's E 最受欢迎的影评</p>
					<footer>记录每个感悟的<cite title="Source Title">时刻</cite></footer>
		</blockquote>
		<div class="row">
			<div class="col-sm-9">
				
				<div class="col-sm-12">
					<ul class="col-sm-12 list-unstyled list-inline pl0 talk">
						<li><a href="#" class="tb eee menu" style="text-decoration: none;">最受欢迎的</a></li>/
						<li><a href="#" class="tb menu" style="text-decoration: none;">新片评论</a></li>
					</ul>
				</div>	
				<div class="col-sm-12">
					<hr>
				</div>
				<div  id="contents">
					
				</div>
				<div class="col-sm-12">
					<nav aria-label="Page navigation ">
			 			<ul class="pager" value="{{.movie.Object.Id}}">
			 				{{if .review.Pref}}
							<li class="previous" id="prev"><a href="#" value="0"><span aria-hidden="true">&larr;</span> Older</a></li>
							{{else }}
							<li class="previous disabled" id="prev"><a href="#" value="0"><span aria-hidden="true">&larr;</span> Older</a></li>
							{{end}}
							<span style="color: #39af84" id="page">1</span>
							{{if .review.Next}}
							<li class="next" id="next"><a href="#" value="1">Newer <span aria-hidden="true">&rarr;</span></a></li>
							{{else}}
							<li class="next disabled" id="next"><a href="#" value="1">Newer <span aria-hidden="true">&rarr;</span></a></li>
							{{end}}
						</ul>
					</nav>
				</div>
			</div>
			<div class="col-sm-3">
				<p class="eee">
					如果你觉得一篇评论对你有帮助，请你点击“有用”。你的投票直接决定哪些评论出现在ME首页和“ME最受欢迎	的评论”里，影响着影评的排序。
				</p>
				<p class="eee">
					所有“没用”的点击都是匿名的。
				</p>
			</div>
		</div>

	</div>

	<div style="width: 100%;margin-top: 2%;" >
	    <div class="jumbotron copy" style="margin: 0">
	    	<div class="container">
  			<p class="text-center">本站所有信息均由互联网爬虫自动搜索得来，相关链接已注明来源，版权归原创者所有。</p>
  			<p class="text-center">如果无意中侵犯了您的权益，请通知我（hjlmzx5@163.com)，我们会及时做相应处理，谢谢合作。</p>
  			</div>
			<p class="text-center"><a href=""><small>&copy;Movie's Entral.com Author:Hxy</small></a></p>
		</div>
	</div>
	<!-- 登入框 -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLable" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content col-sm-8 col-sm-offset-2 ">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
					<h3 class="center ">为爱电影的人</h3>
					<h5 class="center gray">For People Who love's Movie</small>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<!-- <label class="control-label col-sm-2">用户名</label>  -->
							<div class="col-sm-10">
								<input type="text" name="" placeholder="请输入用户名" class="form-control username">
								<span style="color:#ec7474"></span>
							</div>
						</div>
						<div class="form-group">
							<!-- <label class="control-label col-sm-2">密码</label>  -->
							<div class="col-sm-10">
								<input type="password" name="" placeholder="请输入密码" class="form-control password">
								<span style="color:#ec7474"></span>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-10 ">
								<div class="checkbox">
									<label>
										<input type="checkbox" name="">记住密码
									</label>
								</div>
							</div>
						</div>
						 <div class="form-group">
   							 <div class="col-sm-12">
      							<button type="button" class="btn btn-primary btn-lg col-sm-10" id="login">登录</button>
    						</div>
  						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button class="btn btn-default col-sm-3" style="margin-right:30%; " type="button" data-dismiss="modal">忘记密码</button>
					<button class="btn btn-primary col-sm-3" type="button" id="register">注册账号</button>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../static/js/jquery-3.0.0.min.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		// 标签切换

		$(".talk a").click(function(){
			var ss = $(".talk a")
			for(var i = 0;i<ss.length;i++){
				$(ss[i]).removeClass('eee')
			}
			$(this).addClass('eee')
		})



		$(function(result){

		})
		function first(){
			$.ajax({
				url: '/reviewajaxlist',
				type: 'get',
				dataType: 'json',
				data: {"page": 1},
				success:function(result){
					var $c = $("#contents")
					for(var i = 0;i<result.Object.length;i++){
						var text = `				
							<div class="col-sm-12">
							<div class="col-sm-2 pl0">`+
								"<img src="+result.Object[i].MovieImg+" style='height: 165px;' >"+
								"<p>"+result.Object[i].MovieName+"</p>"+
							`</div>
							<ul class="col-sm-10 list-unstyled list-inline">
								<li class="col-sm-1"> `+
									"<img src="+result.Object[i].ImgHead+" style='height: 45px;'>"+
								"</li>"+
								"<li class='col-sm-3'>"+
									"<p>"+result.Object[i].Name+"</p>"+
									"<p>评分:"+result.Object[i].Score+"&nbsp; <small class='gray'>"+result.Object[i].Date+"</small></p>"+
								"</li>"+
								"<li class='col-sm-12' >"+
									"<p class='lead'>"+result.Object[i].Title+"</p>"+
								"</li>"+
								"<li class='col-sm-12 black' id='i"+i+"'>"+
									"<a href='/showtalk?id="+result.Object[i].Id +"'  style='text-decoration: none;'>"+
										result.Object[i].Content
									+"</a>"
									text+="<span class='glyphicon glyphicon-thumbs-up mr10 green '>"+result.Object[i].Like+"</span>"+
									"<span class='glyphicon glyphicon-thumbs-down red mr10 '>"+result.Object[i].Hate+"</span>"+
									"<span class='glyphicon glyphicon-option-horizontal '>"+result.Object[i].TalkNum+"评论</span>"+
								"</li>"+
							"</ul>"+
						"</div>"+
						"<hr class='col-sm-12'>"
						$c.append(text)
						console.log(text)
						$(".black img").remove()//去掉图片
						var select = "#i"+i+" p"
						var length = $(select).length
						var $p =  $(select)
						console.log(i)
						if (length >4){
							for(var j = 4;j<length;j++){
								$($p.eq(j)).remove()
							}
						}
				}
			}
			})
		}
		$(function(){
			first()
		})

		$(".pager a").click(function(e){
			var ud = parseInt($(this).attr("value"))
			console.log(ud)
			e.preventDefault()
			var page = parseInt($("#page").text())
			if (ud == 0) {
				if($("#prev").hasClass('disabled')){
					alert("当前是首页")
					return
				}
				page = page-1
			}else{
				if($("#next").hasClass('disabled')){
					alert("当前是尾页")
					return
				}
				page = page+1
			}
			console.log(page)
			$.ajax({
				url: '/reviewajaxlist',
				type: 'get',
				dataType: 'json',
				data: {"page": page},
				success:function(result){
					var $c = $("#contents")
					$c.empty()
					for(var i = 0;i<result.Object.length;i++){
						var text = `				
							<div class="col-sm-12">
							<div class="col-sm-2 pl0">`+
								"<img src="+result.Object[i].MovieImg+" style='height: 165px;' >"+
								"<p>"+result.Object[i].MovieName+"</p>"+
							`</div>
							<ul class="col-sm-10 list-unstyled list-inline">
								<li class="col-sm-1"> `+
									"<img src="+result.Object[i].ImgHead+" style='height: 45px;'>"+
								"</li>"+
								"<li class='col-sm-3'>"+
									"<p>"+result.Object[i].Name+"</p>"+
									"<p>评分:"+result.Object[i].Score+"&nbsp; <small class='gray'>"+result.Object[i].Date+"</small></p>"+
								"</li>"+
								"<li class='col-sm-12' >"+
									"<p class='lead'>"+result.Object[i].Title+"</p>"+
								"</li>"+
								"<li class='col-sm-12 black' id='i"+i+"'>"+
								"<a href='/showtalk?id="+result.Object[i].Id +"'  style='text-decoration: none;'>"+
										result.Object[i].Content
									+"</a>"
									text+="<span class='glyphicon glyphicon-thumbs-up mr10 green '>"+result.Object[i].Like+"</span>"+
									"<span class='glyphicon glyphicon-thumbs-down red mr10 '>"+result.Object[i].Hate+"</span>"+
									"<span class='glyphicon glyphicon-option-horizontal '>"+result.Object[i].TalkNum+"评论</span>"+
								"</li>"+
							"</ul>"+
						"</div>"+
						"<hr class='col-sm-12'>"
						$c.append(text)
						console.log(text)
						$(".black img").remove()//去掉图片
						var select = "#i"+i+" p"
						var length = $(select).length
						var $p =  $(select)
						console.log(i)
						if (length >4){
							for(var j = 4;j<length;j++){
								$($p.eq(j)).remove()
							}
						}
						if (result.Pref){
							$("#prev").removeClass('disabled')
						}else{
							console.log(result.Pref)
							$("#prev").addClass('disabled')
						}
						if(result.Next){
							$("#next").removeClass('disabled')
						}else{
							$("#next").addClass('disabled')
						}
						$("#page").text(result.Page)
				}	
			}
			})
		})

		// 登入js复用

			$(".username").blur(function(){
				var $name = $(this)
				if($name.val() == ""){
					$name.next().text("账户不能为空")
					return
				}else{
					$name.next().text("")
				}
				if($name.val().length < 6 || $name.val().length > 11){
					$name.next().text("请按要求的长度范围输入！")
				}else{
					$name.next().text("")
				}

			});

			// 判断密码是否为空
			$(".password").blur(function(){
				var $pwd = $(this)
				if($pwd.val() == ""){
					$pwd.next().text("密码不能为空")
					return
				}else{
					$pwd.next().text("")
				}
				if($pwd.val().length < 6 || $pwd.val().length > 11){
					$pwd.next().text("请按要求的长度范围输入！")
				}else{
					$pwd.next().text("")
				}
			});

			$("#login").click(function(){
				$("#login").next().text('')
				alert("秀秀秀秀")
				var vals = $(this).parent().parent().parent().find("input")
				var vales =  {}
				for(var i = 0;i<2;i++){
					vales[i] = $(vals[i]).val()
					console.log(vales[i])
					if(vales[i] == "" ){
						alert("还有选项没填！")
						return
					}
				}
				if (vales[1].length <6 || vales[1].length >11 || vales[0].length <6 || vales[0].length >11){
					alert("按要求输入谢谢！")
					return
				}
				$.ajax({
					url:'/account/login',
					type:'get',
					dataType:'json',
					data:{
						"Uid":vales[0],
						"Password":vales[1]
					},
					success:function(result){
						if (result.Status) {
							alert(result.Msg)
							for(var i = 0;i<vals.length;i++){
								$(vals[i]).val("")
							}
							location.reload()
							return
						}
						$("#login").next().text(result.Msg)
					},
					error:function(){
						alert("服务器出现问题请稍后重试")
					}
				})
			});
		// ==================================

		$("#register").click(function(){
			window.location.href = "/account/toregister"
		});

		$("#loginout").click(function(){
			var ok = confirm("确定要退出登录吗？")
			if (ok) {
				window.location.href = "/account/loginout"
			}
		});
	</script>
</body>
</html>