<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style type="text/css">
        <style type="text/css">
                              .italic {
                                  font-style:oblique;
                              }
        .padding20{
            padding-left: 40px;
        }
        .div_1{
            margin-top:10px;
            border: 1px solid #999;
            width: 14%;
            border-radius: 15px;
            display: inline-block;
            background-color:transparent;
        }
        .select_1{
            border:none;
            color: #999;
            margin: 5px;
            outline: none;
            width: 20%;
            border-right: 1px solid #999;
            background-color: rgba(0,0,0,0);
        }
        .input_1{
            border:none;
            color: #999;
            outline: none;
            background-color: rgba(0,0,0,0);
        }

        .paddingright20{
            padding-right: 10%;
        }

        .center{
            margin: 0 auto;
            text-align: center;
        }
        .gray{
            margin: 10px;
            color: gray;
        }
        .movecenter{
            position: absolute;
            top: 10%;
        }
        .blue{
            outline: none;
        }
        .goodview a{
            color: #999;
            text-decoration: none;
            padding-left: 10%;
            padding-bottom: 5%;
        }
        .friend{
            text-decoration: none;
            font-size: 15px;
        }
        .movedown{
            margin-top: 10px;
        }
        .br1{
            border-right: 1px solid #eee;
        }
        .copy{
            background-color: #353f4b;
            color: white
        }
        .copy a {
            text-decoration: none;
        }




        .bk{
            background-color: rgba(12, 11, 11, 0.53);
            border:1px solid black;
            color: white;
            box-shadow: 10px 10px 10px black;
        }
        .nob{
            border: 0px;
        }
        #start span:hover{
            cursor: pointer;
        }
    </style>
    </style>
    <style type="text/css">
                          .pointer{
                              cursor: pointer;
                          }
    .tb:hover{
        text-decoration: none;
    }
    .m0{
        margin-top: 0px;
    }
    .red{
        color: red
    }
    .yellow{
        color:yellow
    }
    .pointer{
        cursor: pointer;
    }
    </style>
    <style type="text/css">
        .person{
            background-image: url(/static/img/20.webp);
        }
        .pl0{
            padding-left: 0px;
        }
        .actives{
            border-bottom: 2px solid #00a1d6;
        }
        .pr0{
            padding-right: 0px;
        }
        .plr{
            padding-top: 10px;
            padding-bottom: 10px;
            color: #6d757a;
        }
        .hidden{
            display: block;
        }
    </style>
</head>
<body style=" background-color: #f4f5f7">
<div class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- 100%宽度的响应式布局 -->
        <div class="container-fluid">
            <!-- 商标 -->
            <a href="/" class="navbar-brand italic" style="margin-left:200px;">Movie's Entral</a>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav " id="mytab">
                    <li class="padding20" ><a href="/">首页</a></li>
                    <li class="padding20"><a href="/tomovielirbary">电影库</a></li>
                    <li class="padding20"><a href="/filmreview">影评</a></li>
                    <!--  style="margin-right: 500px;" -->
                    <li class="padding20"><a href="/news">资讯</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right paddingright20" id="mytabs">
				{{if .user}}
                    <li class="padding20 active"><a href="/user/toperson" >{{.user.Name}}个人中心</a></li>
                    <li class="padding20"><a href="#" id = "loginout" >登出</a></li>
				{{else}}
                    <li class="padding20"><a href="" data-toggle="modal" data-target="#myModal">登录</a></li>
                    <li class="padding20"><a href="/account/toregister">注册</a></li>
				{{end}}
                </ul>

                <!-- <div class="div_1 ">
                    <select class="select_1">
                        <option>全部</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                    <input type="text" name="" class="input_1">
                    <span class="glyphicon glyphicon-search"></span>
                </div>  -->
            </div>
        </div>
    </nav>
</div>
<br>
<br>
<br>
<div class="container person">
    <div class="col-sm-9">
        <div class="col-sm-12 pl0" style="padding-top: 15%;">
            <div class="col-sm-2 pl0">
                <img  src = "{{.user.ImgHead}}" style="border-radius: 50%;height: 70px;" class="img-responsive " >
            </div>
            <div class="col-sm-7 pl0">
                <blockquote style="border-left: 0px;margin: 0px;" class="pl0">
                    <p style="color: white;"><strong>{{.user.Name}}</strong></p>
                    <footer style="color: #d6dee4">{{.user.PersonSign}} </footer>
                </blockquote>
            </div>
        </div>
    </div>
    <div class="col-sm-3" >
        <img src="../static/img/10.jpg" class="img-responsive img-circle">
    </div>
</div>
<div class="container pl0" style="padding-right: 0px;">
    <nav class="navbar navbar-default  pl0" role="navigation" style="background-color: #ffffff;">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav " id="mytab">
                <li value="1" class="actives" ><a href="#"><span class="glyphicon glyphicon-home" style="color: #00c091"></span> &nbsp;主页</a></li>
                <li value="2" class=""><a href="#"><span class="glyphicon glyphicon-user" style="color: #fb7299"></span> &nbsp;个人信息</a></li>
                <li value="3" class=""><a href="#"><span class="glyphicon glyphicon-eye-open" style="color: #23c9ed"></span> &nbsp;历史记录</a></li>
                <li value="4" class=""><a href="#"><span class="glyphicon glyphicon-envelope" style="color: #f3a034"></span> &nbsp;消息</a></li>
                <li value="5" ><a href="#"><span class="glyphicon glyphicon-tree-deciduous" style="color: #ff5d47"></span> &nbsp;意见树</a></li>
            </ul>
        </div>
    </nav>
</div>

<div class="container pl0 pr0" >

    <div class="col-sm-8" style="background-color: white;: #f4f5f7;padding-left: 0px;padding-right: 0px;">
        <div class="content">
            <div id="page-1" class="ps">
                <h2 class="col-sm-12" style="margin-bottom: 2%">电影收藏</h2>
                <div class="col-sm-12" id="mymovie">
                    {{range $index,$movie := .movie.Object}}
                    <div class="col-sm-4">
                        <div class="thumbnail">
                            <div class="caption">
                                <p class="text-center">{{$movie.MovieName}}</p>
                            </div>
                            <a href="/movieintrdouce?movieId={{$movie.Id}}"><img src="{{$movie.MovieImg}}" class="img-responsive"></a>
                        </div>
                    </div>
                    {{end}}
                </div>
                <button class="btn btn-info col-sm-offset-5" id="watchmovie" value="2">查看更多</button>
                <hr class="col-sm-11">

                <h2 class="col-sm-12"  style="margin-bottom: 2%">我的影评</h2>
                <div class="col-sm-12 " id="myreview">
                    {{range $index,$review :=  .review.Object}}
                    <a href="/showtalk?id={{$review.Id}}" class="col-sm-12">
                        <p class="col-sm-3">{{$review.MovieName}}</p>
                        <p class="col-sm-6">{{$review.Title}}</p>
                        <p class="col-sm-3">{{$review.Date}}</p>
                    </a>
                    {{end}}
                </div>
                <button class="btn btn-info col-sm-offset-5" value="2" id="watchReview">查看更多</button>
                <hr class="col-sm-11">

            </div>
            <!-- page1 -->


            <div id="page-2" class="ps hidden">
                <ul class="nav nav-pills">
                    <li class="active"><a href="#">基本信息修改</a></li>
                    <li><a href="#">密码修改</a></li>
                </ul>
                <p class="bg-primary col-sm-12" style="font-size:20px;height: 30px;">我的信息</p>
                <div class="com-sm-12">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-2">昵称</label>
                            <div class="col-sm-4">
                                <input type="text" name="" placeholder="请输入新的昵称" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">账户名</label>
                            <div class="col-sm-4">
                                <input type="text" name="" placeholder="账户名" class="form-control" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">出生日期</label>
                            <div class="col-sm-4">
                                <input type="date" name="" value="2018-12-12" class="form-control" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">我的签名</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" placeholder="人生格言走一波- ( ゜- ゜)つロ" maxlength="50"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">更改头像</label>
                            <div class="col-sm-8">
                                <input type="file" id="image" name="" accept="image/*">
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <button class="btn btn-info col-sm-3 col-sm-offset-2">保存</button>
                        </div>
                    </form>
                    <!-- page2-2  -->
                    <div id="page2-2">
                        <div class="com-sm-12">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-sm-2">修改密码</label>
                                    <div class="col-sm-8">
                                        <div></div>
                                        <input type="text" name="" placeholder="请输入现在的密码" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">新密码</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="" placeholder="请输入修改密码" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">确认密码</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="" placeholder="请再输入一次修改密码" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <button class="btn btn-info col-sm-3 col-sm-offset-2">保存</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- page2 -->


            <div id="page-3" class="ps hidden">
                <div class="row mtb2">
                    <div class="col-sm-4 " style="padding-left: 4%">
                        <img src="1.jpg" class="img-responsive">
                    </div>
                    <div class="col-sm-8" style="">
                        <p class="col-sm-12 lead " style="padding-bottom: 4%; ">
                            title
                        </p>
                        <small class="col-sm-12">2018-2-12 12:59:59</small>
                        <hr class="col-sm-9">
                        <span class="glyphicon glyphicon-hand-up col-sm-1"></span>
                        <span class="glyphicon glyphicon-trash col-sm-1"></span>
                    </div>
                </div>
                <button class="btn btn-info col-sm-3 col-sm-offset-4">加载更多</button>
            </div>
            <!-- page3 -->


            <div id="page-4" class="ps hidden">
                <ul class="nav nav-pills">
                    <li class="active"><a href="#">回复我的</a></li>
                    <li><a href="#">系统通知</a></li>
                </ul>
                <hr class="col-sm-11">
                <div class="row mtb2 pl0 pr0">
                    <div class="col-sm-2 " style="padding-left: 4%">
                        <img src="1.jpg" class="img-responsive img-circle">
                    </div>
                    <div class="col-sm-8" style="">
                        <p class="col-sm-12 lead ">
                            name <small class="small">&nbsp;2018年7月5日23：59:59</small>
                        </p>
                        <p class="col-sm-11 " style="word-wrap:break-word;word-break:break-all;">content</p>
                        <a href="" class="col-sm-11 col-sm-offset-1 a" >评论name</a>
                        <hr class="col-sm-12">
                    </div>
                </div>
                <div id="page4-2">
                    <div class="row mtb2 pl0 pr0">
                        <div class="col-sm-12">
                            <div class="panel panel-default ">
                                <div class="panel-body">
                                    <p>title&nbsp;&nbsp;<small class="small">2018-12-12</small></p>
                                    <p>content</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-info col-sm-3 col-sm-offset-4">加载更多</button>
            </div>
            <!-- page4 -->


            <div id="page-5" class="ps hidden">
                <div class="page-5-1">
                    <ul class="nav nav-pills">
                        <li class="active"><a href="#">我的意见</a></li>
                        <li><a href="#">提意见</a></li>
                    </ul>
                    <hr class="col-sm-11" style="margin-left: 10px;">
                    <div class="col-sm-12">
                        <div class="panel panel-success">
                            <div class="panel-heading">Panel heading without title</div>
                            <div class="panel-body">
                                Panel content
                            </div>
                        </div>
                    </div>
                    <hr class="col-sm-12">
                </div>
                <div class="page-5-2">
                    <h3 class="col-sm-12">意见单</h3>
                    <div class="col-sm-12">
                        <form class="form-horizontal">
                            <div class="input-group col-sm-8 col-sm-offset-1 mtb2">
                                <select class="form-control ">
                                    <option>资源求取</option>
                                    <option>网站建设</option>
                                </select>
                            </div>
                            <div class="input-group col-sm-8 col-sm-offset-1 mtb2">
                                <input type="text" name="" placeholder="Title" class="form-control" >
                            </div>
                            <div class="input-group col-sm-8 col-sm-offset-1 mtb2">
                                <textarea class="form-control" placeholder="请输入你具体建议或要求..." style="height: 100px;"></textarea>
                            </div>
                        </form>
                        <button class="btn btn-info col-sm-3 col-sm-offset-4">提交</button>
                    </div>
                </div>
            </div>
            <!-- page5 -->

        </div>
    </div>





    <!-- col-sm-4 pl0 pr0 pull-right -->
    <div class="pull-right" style="width: 32%;">
        <div class="col-sm-12" style="background-color: white;margin-bottom: 3%;">
            <p class="lead" style="margin-top: 20px;">浏览次数：10</p>
        </div>
        <div class="col-sm-12" style="background-color: white;margin-bottom: 3%;">
            <h5><strong>公告</strong></h5>
            <textarea class="form-control" maxlength="150" style="height: 100px;margin-bottom: 3%;border:none;" placeholder="编辑空间公告"></textarea>
        </div>
        <div class="col-sm-12" style="background-color: white;margin-bottom: 3%;">
            <ul class="list-unstyled col-sm-12 plr" style="margin-bottom: 0px;">
                <li class="col-sm-5 "><span class="badge" style="background-color: #7cd4f2">UID</span>&nbsp;14182261</li>
                <li class="col-sm-7 " ><span class="glyphicon glyphicon-time" style="color: #9bd99f">&nbsp;</span>注册于 2018-5-15</li>
                <br>
                <hr>
                <li class="col-sm-5 ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-bell" style="color: #f9c86d"></span>&nbsp;02-12</li>
                <li class="col-sm-7 "><span class="glyphicon glyphicon-grain" style="color: #fdaeb1">&nbsp;</span>未填写</li>
            </ul>
        </div>
    </div>

</div>



<div style="width: 100%;margin-top: 2%;" >
    <div class="jumbotron copy" style="margin: 0">
        <div class="container">
            <p class="text-center">本站所有信息均由互联网爬虫自动搜索得来，相关链接已注明来源，版权归原创者所有。</p>
            <p class="text-center">如果无意中侵犯了您的权益，请通知我（hjlmzx5@163.com)，我们会及时做相应处理，谢谢合作。</p>
        </div>
        <p class="text-center"><a href=""><small>&copy;Movie's Entral.com Author:Hxy</small></a></p>
    </div>
</div>
<script type="text/javascript" src="../static/js/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $("#loginout").click(function(){
        var ok = confirm("确定要退出登录吗？")
        if (ok) {
            window.location.href = "/account/loginout"
        }
    });

    $("#mytab li").click(function(){
        $("#mytab li").removeClass('actives')
        $(this).addClass('actives')
        var value = $(this).attr("value")
        console.log(value)
        $(".content .ps").addClass('hidden')
        if(value == 1 ){
            $("#page-1").removeClass('hidden')
        }
        if(value == 2 ){
            $("#page-2").removeClass('hidden')
        }
        if(value == 3 ){
            $("#page-3").removeClass('hidden')
        }
        if(value == 4 ){
            $("#page-4").removeClass('hidden')
        }
        if(value == 5 ){
            $("#page-5").removeClass('hidden')
        }
    })

    $("#watchmovie").click(function(){
        var page = parseInt($("#watchmovie").attr("value"))
        if (page == 0) {
            alert("已经没有了")
            return
        }
        $.ajax({
            url: '/user/checklikemovie',
            type: 'get',
            dataType: 'json',
            data: {"page": page},
            success:function(result){
                console.log(result)
                if (result.Status){
                    var s = $("#mymovie")
                    if (result.Object.length == 0){
                        alert("已经没有了")
                         $("#watchmovie").attr("value",0)
                        return
                    }
                    for(var i = 0;i<result.Object.length;i++){
                        var text = "<div class='col-sm-4'>"+
                                        "<div class='thumbnail'>"+
                                            "<div class='caption'>"+
                                                "<p class='text-center'>"+result.Object[i].MovieName+"</p>"+
                                            "</div>"+
                                            "<a href='/movieintrdouce?movieId="+result.Object[i].Id+"'>"+"<img src="+result.Object[i].MovieImg+" class='img-responsive'></a>"+
                                        "</div>"+
                                    "</div>"
                        s.append(text)
                    }
                    $("#watchmovie").attr("value",result.Page)
                }
            }
        })
    })

    $("#watchReview").click(function(){
        var page = parseInt($("#watchReview").attr("value"))
        if (page == 0) {
            alert("已经没有了")
            return
        }
        console.log("asdasdasdASf")
        $.ajax({
            url: '/user/checkmyreview',
            type: 'get',
            dataType: 'json',
            data: {"page": page},
            success:function(result){
                $("#watchReview").attr("value",result.Page)
                if (result.Status){
                    var s = $("#myreview")
                    if (result.Object.length == 0){
                        alert("已经没有了")
                         $("#watchReview").attr("value",0)
                        return
                    }
                    for(var i = 0;i<result.Object.length;i++){
                        var text = 
                        "<a href='/showtalk?id="+result.Object[i].Id+" class='col-sm-12'>"+
                            "<p class='col-sm-3'>"+result.Object[i].MovieName+"</p>"+
                            "<p class='col-sm-6'>"+result.Object[i].Title+"</p>"+
                            "<p class='col-sm-3'>"+result.Object[i].Date+"</p>"+
                        "</a>"
                        s.append(text)
                    }
                    
                }
            }
        })
    });
</script>
</body>
</html>