<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="	sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<style type="text/css">
		.italic {
			font-style:oblique;
		}
		.padding20{
			padding-left: 40px; 
		}
		.div_1{
			margin-top:10px;
			border: 1px solid #999;
			width: 14%;
			border-radius: 15px;
			display: inline-block;
			background-color:transparent;
		}
		.select_1{
			border:none;
			color: #999;
			margin: 5px;
			outline: none;
			width: 20%;
			border-right: 1px solid #999;
			background-color: rgba(0,0,0,0);
		}
		.input_1{
			border:none;
			color: #999;
			outline: none;
			background-color: rgba(0,0,0,0);
		}

		.paddingright20{
			padding-right: 10%;
		}

		.center{
			margin: 0 auto;
			text-align: center;
		}
		.gray{
			margin: 10px;
			color: gray;
		}
		.movecenter{
			position: absolute;
			top: 10%;
		}
		.blue{
			outline: none;
		}
		.goodview a{
			color: #999;
			text-decoration: none;
			padding-left: 10%;
			padding-bottom: 5%;
		}
		.friend{
			text-decoration: none;
			font-size: 15px;
		}
		.movedown{
			margin-top: 10px;
		}
		.br1{
			border-right: 1px solid #eee;
		}
		.copy{
			background-color: #353f4b;
			color: white
		}
		.copy a {
			text-decoration: none;
		}
	</style>
</head>
<body>
	 <div class="container"> 
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<!-- 100%宽度的响应式布局 -->
			<div class="container-fluid">
				<!-- 商标 -->
				<a href="/" class="navbar-brand italic" style="margin-left:200px;">Movie's Entral</a>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav " >
						<li class="padding20" ><a href="/">首页</a></li>
						<li class="padding20"><a href="/tomovielirbary">电影库</a></li>
						<li class="padding20 active"><a href="/filmreview">影评</a></li>
						<!--  style="margin-right: 500px;" -->
						<li class="padding20"><a href="">资讯</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right paddingright20" id="mytabs">
						{{if .user}}
                            <li class="padding20"><a href="/user/toperson" >{{.user.Name}}个人中心</a></li>
                            <li class="padding20"><a href="#" id = "loginout" >登出</a></li>
						{{else}}
                            <li class="padding20"><a href="" data-toggle="modal" data-target="#myModal">登录</a></li>
                            <li class="padding20"><a href="/account/toregister">注册</a></li>
						{{end}}
					</ul>

					<!-- <div class="div_1 ">
						<select class="select_1">
							<option>全部</option>
							<option>2</option>
							<option>3</option>
						</select>
						<input type="text" name="" class="input_1">
						<span class="glyphicon glyphicon-search"></span>
					</div>  -->
				</div>
			</div>
		</nav>
	</div>
	<br>
	<br>
	<br>
	<div class="container">
		<div class="col-sm-12">
			<h3 class="col-sm-12">{{.talks.Title}}</h3>

			<div class="col-sm-12">
				<ul class="col-sm-10 list-unstyled list-inline">
					<li class="col-sm-1">
						<img src="{{.talks.ImgHead}}" class="img-responsive " alt="Responsive image">
					</li>
					<li class="col-sm-7">
						<p>
							{{.talks.Name}} <span style="color: green">{{.talks.Score}}</span>&nbsp;评论<a href="/movieintrdouce?movieId={{.talks.MovieId}}" style="text-decoration: none;"> &nbsp;{{.talks.MovieName}} </a>		 
							<span style="color: gray">&nbsp;{{.talks.Date}}</span>
						</p>
					</li>
				</ul>

			</div>

			<!-- z展示内容 -->
			<div class="col-sm-12">
				<hr>
				<div class="contents" value="{{.talks.Id}}">
					
				</div>
				<br>
				<br>
				<span style="color: gray;">© 本文版权归作者 {{.talks.Name}}  所有，任何形式转载请联系作者。</span>
				<hr>
			</div>
			<div class="col-sm-12 col-sm-offset-5">
				<button class="btn btn-default">up&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>10</button>
				<button class="btn btn-default">down&nbsp;<span class="glyphicon glyphicon-thumbs-down"></span>10</button>
			</div>
				<div class="container">

			<div class="col-sm-9">
				<h3 >短评</h3>
				<hr>
				<div class="col-sm-3 br1">
					<div class="media">
						<a href="" class="media-left">
							<img src="1.jpg" height="5%">
						</a>
						<div class="media-body">
							<p> name</p>
							<p style="background-color: #679c21;color: white;" class="col-sm-1">1</p>
						</div>
					</div>
				</div>
				<div class="col-sm-9 ">
					<div class="well ptb">
						我我我我我我我我我我
						我我我我我我我我我我
						我我我我我我我我我我
						我我我我我我我我我我
						我我我我我我我我我我
						我我我我我我我我我我
						我我我我我我我我我我
					</div>
				</div>
			</div>
			<div class="col-sm-9">
				<div class="col-sm-3 br1">
					<div class="media">
						<a href="" class="media-left">
							<img src="1.jpg" height="5%">
						</a>
						<div class="media-body">
							<p> name</p>
							<p style="background-color: #679c21;color: white;" class="col-sm-1">1</p>
						</div>
					</div>
				</div>
				<div class="col-sm-9 ">
					<div class="well ptb">
						我我我我我我我我我我
						我我我我我我我我我我
						我我我我我我我我我我
						我我我我我我我我我我
						我我我我我我我我我我
						我我我我我我我我我我
						我我我我我我我我我我
					</div>
				</div>
			</div>
			<div class="col-sm-9">
				<div class="col-sm-3 br1">
					<div class="media">
						<a href="" class="media-left">
							<img src="1.jpg" height="5%">
						</a>
						<div class="media-body">
							<p> name</p>
							<p style="background-color: #679c21;color: white;" class="col-sm-1">1</p>
						</div>
					</div>
				</div>
				<div class="col-sm-9 ">
					<div class="well ptb">
						我我我我我我我我我我
						我我我我我我我我我我
						我我我我我我我我我我
						我我我我我我我我我我
						我我我我我我我我我我
						我我我我我我我我我我
						我我我我我我我我我我
					</div>
				</div>
			</div>
			<div class="col-sm-9">
				<div class="col-sm-3 br1">
					<div class="media">
						<a href="" class="media-left">
							<img src="1.jpg" height="5%">
						</a>
						<div class="media-body">
							<p> name</p>
							<p style="background-color: #679c21;color: white;" class="col-sm-1">1</p>
						</div>
					</div>
				</div>
				<div class="col-sm-9 ">
					<div class="well ptb">
						我我我我我我我我我我
						我我我我我我我我我我
						我我我我我我我我我我
						我我我我我我我我我我
						我我我我我我我我我我
						我我我我我我我我我我
						我我我我我我我我我我
					</div>
				</div>
			</div>
			<div class="col-sm-9">
				<div class="col-sm-3 br1">
					<div class="media">
						<a href="" class="media-left">
							<img src="1.jpg" height="5%">
						</a>
						<div class="media-body">
							<p> name</p>
							<p style="background-color: #679c21;color: white;" class="col-sm-1">1</p>
						</div>
					</div>
				</div>
				<div class="col-sm-9 ">
					<div class="well ptb">
						我我我我我我我我我我
						我我我我我我我我我我
						我我我我我我我我我我
						我我我我我我我我我我
						我我我我我我我我我我
						我我我我我我我我我我
						我我我我我我我我我我
					</div>
				</div>
			</div>
			<div class="col-sm-9">
				<div class="col-sm-3 br1">
					<div class="media">
						<a href="" class="media-left">
							<img src="1.jpg" height="5%">
						</a>
						<div class="media-body">
							<p> name</p>
							<p style="background-color: #679c21;color: white;" class="col-sm-1">1</p>
						</div>
					</div>
				</div>
				<div class="col-sm-9 ">
					<div class="well ptb">
						我我我我我我我我我我
						我我我我我我我我我我
						我我我我我我我我我我
						我我我我我我我我我我
						我我我我我我我我我我
						我我我我我我我我我我
						我我我我我我我我我我
					</div>
				</div>
			</div>
			<div class="col-sm-9">
				<div class="col-sm-3 br1">
					<div class="media">
						<a href="" class="media-left">
							<img src="1.jpg" height="5%">
						</a>
						<div class="media-body">
							<p> name</p>
							<p style="background-color: #679c21;color: white;" class="col-sm-1">1</p>
						</div>
					</div>
				</div>
				<div class="col-sm-9 ">
					<div class="well ptb">
						我我我我我我我我我我
						我我我我我我我我我我
						我我我我我我我我我我
						我我我我我我我我我我
						我我我我我我我我我我
						我我我我我我我我我我
						我我我我我我我我我我
					</div>
				</div>
			</div>
			<div class="col-sm-9">
				<div class="col-sm-3 br1">
					<div class="media">
						<a href="" class="media-left">
							<img src="1.jpg" height="5%">
						</a>
						<div class="media-body">
							<p> name</p>
							<p style="background-color: #679c21;color: white;" class="col-sm-1">1</p>
						</div>
					</div>
				</div>
				<div class="col-sm-9 ">
					<div class="well ptb">
						我我我我我我我我我我
						我我我我我我我我我我
						我我我我我我我我我我
						我我我我我我我我我我
						我我我我我我我我我我
						我我我我我我我我我我
						我我我我我我我我我我
					</div>
				</div>
				<hr>
				<div class="col-sm-12">
					<hr>
					<nav aria-label="Page navigation ">
   			 		 <ul class="pager">
    					<li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
    					<li class="next"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
  					</ul>
				</nav>
				</div>
			</div>
			<div class="col-sm-12">
				<h3>发表评论</h3>
			<hr>
				<div class="col-sm-3 br1">
					<div class="media">
						<a href="" class="media-left">
							<img src="1.jpg" height="5%">
						</a>
						<div class="media-body">
							<p> name</p>
							<p style="background-color: #679c21;color: white;" class="col-sm-1">1</p>
						</div>
					</div>
				</div>
				<div class="col-sm-9 ">
					<textarea id ="content" class="ptb form-control" maxlength="70" placeholder="对影评评论(70字以内)"></textarea>
				</div>

			</div>

			<div class="col-sm-9" style="padding-top: 2%;">
				<div class="col-sm-6 col-sm-offset-9">
					<div class="btn-group" role="group" aria-label="...">
  						<button type="button" class="btn btn-danger" id="clear">清空内容</button>
  						<button type="button" class="btn btn-success">提交评论</button>
				</div>
				</div>
			</div>
		</div>
		</div>
	</div>

 	<div style="width: 100%;margin-top: 2%;" >
	    <div class="jumbotron copy" style="margin: 0">
	    	<div class="container">
  			<p class="text-center">本站所有信息均由互联网爬虫自动搜索得来，相关链接已注明来源，版权归原创者所有。</p>
  			<p class="text-center">如果无意中侵犯了您的权益，请通知我（hjlmzx5@163.com)，我们会及时做相应处理，谢谢合作。</p>
  			</div>
			<p class="text-center"><a href=""><small>&copy;Movie's Entral.com Author:Hxy</small></a></p>
		</div>
	</div>
	<script type="text/javascript" src="../static/js/jquery-3.0.0.min.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		// 复用
			$(".username").blur(function(){
				var $name = $(this)
				if($name.val() == ""){
					$name.next().text("账户不能为空")
					return
				}else{
					$name.next().text("")
				}
				if($name.val().length < 6 || $name.val().length > 11){
					$name.next().text("请按要求的长度范围输入！")
				}else{
					$name.next().text("")
				}

			});

			// 判断密码是否为空
			$(".password").blur(function(){
				var $pwd = $(this)
				if($pwd.val() == ""){
					$pwd.next().text("密码不能为空")
					return
				}else{
					$pwd.next().text("")
				}
				if($pwd.val().length < 6 || $pwd.val().length > 11){
					$pwd.next().text("请按要求的长度范围输入！")
				}else{
					$pwd.next().text("")
				}
			});

			$("#login").click(function(){
				$("#login").next().text('')
				alert("秀秀秀秀")
				var vals = $(this).parent().parent().parent().find("input")
				var vales =  {}
				for(var i = 0;i<2;i++){
					vales[i] = $(vals[i]).val()
					console.log(vales[i])
					if(vales[i] == "" ){
						alert("还有选项没填！")
						return
					}
				}
				if (vales[1].length <6 || vales[1].length >11 || vales[0].length <6 || vales[0].length >11){
					alert("按要求输入谢谢！")
					return
				}
				$.ajax({
					url:'/account/login',
					type:'get',
					dataType:'json',
					data:{
						"Uid":vales[0],
						"Password":vales[1]
					},
					success:function(result){
						if (result.Status) {
							alert(result.Msg)
							for(var i = 0;i<vals.length;i++){
								$(vals[i]).val("")
							}
							location.reload()
							return
						}
						$("#login").next().text(result.Msg)
					},
					error:function(){
						alert("服务器出现问题请稍后重试")
					}
				})
			});
		// ==================================

		$("#register").click(function(){
			window.location.href = "/account/toregister"
		});

		$("#loginout").click(function(){
			var ok = confirm("确定要退出登录吗？")
			if (ok) {
				window.location.href = "/account/loginout"
			}
		});
		// ==================================
		function contents(){
			$.ajax({
				url: '/showtalkajax',
				type: 'get',
				dataType: 'json',
				data: {"id":{{.talks.Id}}},
				success:function(result){
					var text = result.Object.Content
					$(".contents").append(text)
				}
			})
		}
		$(function(){
			contents()
		})
	</script>
</body>
</html>